<template>
  <div class="graph-container"> 
      <div class="graph-container">
          <LineChart ref="chart" />
      </div>
      <div class="graph-controls">

        <button @click="showCoordinate = !showCoordinate">Задать входные данные</button>
        <input type="text" v-model="newPoint.x" placeholder="Введите X" v-show="showCoordinate">
        <input type="text" v-model="newPoint.y" placeholder="Введите Y" v-show="showCoordinate">

        <button @click="addInputs">Добавить точку</button>
        <div v-for="(item, index) in inputs" :key="index">
            <input type="text" placeholder="Введите X" v-model="item.x">
            <input type="text" placeholder="Введите Y" v-model="item.y">
        </div>
            
        <button @click="addPoint()">Обработать</button>
      </div>
      
  </div>
</template>

<script>
import LineChart from './LineChart.vue'
import axios from 'axios'
import _ from 'lodash'

export default {
  name: 'Graph',
  components: {
    LineChart
  },
  data() {
    return {
        showCoordinate: false,
        coordinates: [],
        newPoint: {
            x: 0,
            y: 0
        },
        inputs: []
    }
  },

  created() {
      axios.get("/dots.json")
        .then(
            res => {
                this.coordinates = res.data;
                this.sortCoordinates();
            }
        )
  },

  methods: {
      sortCoordinates() {
        let coordinatesSorted = _.cloneDeep(this.coordinates);
        this.coordinates.forEach((item, index) => {
            if(index + 2 <= this.coordinates.length) {
                this.coordinates.forEach((itemInner, indexInner) => {
                        if(index + 1 <= this.coordinates.length && index + 2 >= indexInner && ((item.x<=itemInner.x && item.y>=itemInner.x) || (itemInner.x<=item.x && itemInner.y>=item.x))) {
                           const temp = coordinatesSorted.splice(indexInner, 1);
                           coordinatesSorted.push(temp[0]);
                        }
                    }
                )
            }
        });

        this.$refs.chart.renderChart(coordinatesSorted);
      },

      addPoint() {
          this.coordinates.push(this.newPoint);
          this.sortCoordinates();
      },

      addInputs() {
        this.inputs.push(Math.random());
      }
  }

}
</script>

<style scoped lang="scss">
    .graph-container {
        display: flex;
    }

    .graph-controls {
        margin-left: 30px;
        button {
            background: #191919;
            color: #fff;
            display: block;
            margin-bottom: 10px;
            border: 0;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        input {
            display: block;
            padding: 5px 10px;
            margin-bottom: 10px;
            outline: none;
        }
    }
</style>
