<template>
    <canvas width="500" height="500" ref="canvas"></canvas>
</template>

<script>

export default {
    methods: {
        renderLine(start, end) {
            const canvas = this.$refs.canvas;
            let obCanvas = canvas.getContext('2d');
            
            obCanvas.beginPath();
            obCanvas.lineWidth = 2;
            obCanvas.strokeStyle = '#ff0000';
            obCanvas.moveTo(start.x, start.y);
            obCanvas.lineTo(end.x, end.y);
            obCanvas.stroke();
        },

        renderChart(chartData) {
            const canvas = this.$refs.canvas;
            let obCanvas = canvas.getContext('2d');
            obCanvas.clearRect(0, 0, this.$refs.canvas.width, this.$refs.canvas.height);
            chartData.forEach((item, index) => {
                if(index + 2 <= chartData.length) {
                    this.renderLine(item, chartData[index + 1]);
                }
            });
        }
    }
}
</script>

<style scoped lang="scss">
    canvas {
        border: 1px solid #191919;
    }
</style>